.navBarAirplane {
    background-color: white;
    border-bottom: 1px solid lightgrey;
}
.btnGreen {
    background-color: #0087c9!important;
    border-color: #BBD5E4!important;
    color: #ffffff!important;
    font-weight: bold;
    margin-left: 20px;
}
.btnGreen:hover {
    background-color: #9BDCFA!important;
    color: #000000!important;
}
.dropBtn {
    background-color: #0087c9;
    border-color: #BBD5E4!important;
    color: #ffffff;
    outline: none;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-left: 20px;
    font-weight: bold;
}
.dropBtn:hover {
    background-color: #9BDCFA;
    color: #000000!important;
}
.dropBtn:focus {
    outline: none;
}
